<div *ngFor="let blogs of blogs$">
  <div>
    <p>
      <span *ngIf="blogs.id === blogId"><input [(ngModel)]="blogs.title"></span>
      <span *ngIf="blogs.id !== blogId">{{ blogs.title }}</span>
      <span *ngIf="blogs.id === blogId"><input [(ngModel)]="blogs.description"></span>
      <span *ngIf="blogs.id !== blogId">{{ blogs.description }}</span>
      <span>{{ blogs.date | date:'medium' }}</span>
      {{ blogs.id }}
      <button *ngIf="blogs.id === blogId" class="button-save" (click)="save(blogs)">save</button>
      <button *ngIf="blogs.id === blogId" (click)="cancel(blogs)">cancel</button>
    </p>
    <div id="buttonsToHide">
      <button *ngIf="blogs.id !== blogId" (click)="delete(blogs)">X</button>
      <button *ngIf="blogs.id !== blogId" (click)="edit(blogs.id)">Edit</button>
    </div>
  </div>
  <div id="buttonsToUpdate" style="display:none">
    
  </div>
</div>
