


<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)">

  <div class="form-group">
    <label for="title">
      Заголовок события
    </label>
    <input type="text" id="title" class="form-control" name="title" ngModel #title="ngModel">
    <span>
      Some checking here
    </span>
  </div>

  <div class="form-group">
    <label for="days">
      Количество дней
    </label>
    <input type="number" id="days" class="form-control" name="days" [ngModel]="1" min="1" #days="ngModel">
    <span>
      Some checking here
    </span>
  </div>

  <div class="form-group">
    <label for="type">
      Количество дней
    </label>
    <input type="number" id="type" class="form-control" name="type" [ngModel]="1" min="1" #type="ngModel">
    <span>
      Some checking here
    </span>
  </div>

  <button type="submit">
    Добавить событие
  </button>
</form> -->
