
.sign-in {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -275px;
    margin-left: -450px;
    height: 550px;
    width: 900px;
    background-color: #FFF;
    border-radius: 35px;
    overflow: hidden;
    display: flex;

}

.sign-in__img-container {
    width: 400px;
    overflow: hidden;
}

.sign-in__img {
    width: 300%;
    margin-left: -550px;
}

.sign-in__form-container {
    padding-top: 133px;
    padding-left: 65px;
    display: flex;
    justify-content: flex-end;
}

.sign-in__headline {
    font-size: 25px;
    padding-bottom: 30px;
}

.registration-form {
    width: 370px;
}

.registration-form__item {
	margin-bottom: 25px;
}

.registration-form__item--headlines {
	color: #999;
	font-size: 10px;
}

.registration-form__item--inputs {
	width: 100%;
	outline: none;
	background: none;
	border: none;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
	margin-top: 13px;
	color: #000;
	font-size: 14px;
	font-weight: 400;
}

.registration-form__item--button-container {
    display: flex;
    justify-content: flex-end;
}

.registration-form__item--button {
    margin-top: 10px;
    border: none;
    background: none;
    font-size: 12px;
    font-weight: 600;
    color: #999;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;

}

.registration-form__item--button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.registration-form__buttons {
    margin-top: 35px;
    display: flex;
}

.registration-form__buttons--sign-in {
    padding: 15px 40px;
    font-size: 14px;
    color: #000;
    border: 1px solid #000;
    border-radius: 25px;
    outline: none;
    background: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.registration-form__buttons--sign-in:hover {
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}

.registration-form__buttons--or {
    margin-top: 16px;
    margin-left: 15px;
    font-size: 14px;
    color: #000;
}

.registration-form__buttons--link {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.registration-form__buttons--link:hover {
    text-decoration: underline;
}

.close {
    position: absolute;
    right: 0;
    margin-top: 40px;
    margin-right: 50px;
    border: none;
    background: none;
    color: #999;
    font-size: 13px;
    outline: none;
}

.close:hover {
    cursor: pointer;
}
