<div class="sign-in">
  <div class="sign-in__img-container">
    <img class="sign-in__img" src="assets/img/sign-in.jpeg" alt="">
  </div>
  <div class="sign-in__form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="registration-form" action="">
      <h2 class="sign-in__headline">Sign in</h2>
      <div class="registration-form__item">
        <h3 class="registration-form__item--headlines">E-mail</h3>
        <input class="registration-form__item--inputs" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div class="error" *ngIf="f.email.errors.required">Enter your e-mail</div>
          <div class="error" *ngIf="f.email.errors.email">Incorrect e-mail</div>
        </div>
        <div class="alert-error" *ngIf="error">{{error}}</div>
      </div>
      <div class="registration-form__item">
          <h3 class="registration-form__item--headlines">Password</h3>
          <input class="registration-form__item--inputs" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div class="registration-form__item--button-container">
            <button class="registration-form__item--button" type="button">Forgot password?</button>
          </div>
          <div class="registration-form__item--errors-container">
            <div class="error-container" *ngIf="submitted && f.password.errors">
              <div class="errorr" *ngIf="f.password.errors.required">Enter your password</div>
            </div>
            <div class="alert-error" *ngIf="error">{{error}}</div>
          </div>   
      </div>
      <div class="registration-form__buttons">
        <button class="registration-form__buttons--sign-in">Sign in</button>
        <p class="registration-form__buttons--or">or <a class="registration-form__buttons--link" (click)="openModal('custom-modal-2')">Sign up</a></p>
        </div>
    </form>
  </div>
  <button class="close" mat-raised-button (click)="close()">Close</button>
</div>
