.sign-in__headline {
    font-size: 25px;
    padding-bottom: 30px;
}

.registration-headline {
	display: flex;
	justify-content: space-between;
    color: #FFF;
	font-size: 12px;
	margin-bottom: 15px;
}

.registration-headline__close {
	position: absolute;
	top: 30px;
	right: 45px;
	background: none;
	border: none;
	outline: none;
	color: #CCC;
	transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.registration-headline__close:hover {
	cursor: pointer;
	color: #666;
}

.bg {
	background-color: #FFF;
	border-radius: 30px;
	padding: 45px 45px;
}

.button-upload:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.09);;
}

.registration__info {
	width: 370px;
	margin: 0 auto;
}



.registration-form__col1 {
	width: 370px;
}

.registration-form__col2 {
	width: 370px;
}

.half {
	width: 45%;
}

.registration-form__item {
	margin-bottom: 25px;
}

.margin-none {
	margin-bottom: 0px;
}

.registration-form__item--headlines {
	color: #999;
	font-size: 10px;
}

.registration-form__item--inputs {
	width: 100%;
	outline: none;
	background: none;
	border: none;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
	margin-top: 13px;
	color: #000;
	font-size: 14px;
	font-weight: 400;
}

.bio {
	height: 87px;
	resize: none;
	line-height: 1.5;
	margin-bottom: -5px;
}


.registration__create--already {
	color: #FFF;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}

.registration__create--link {
	text-decoration: none;
	margin: 0 auto;
	color: #FFF;
	font-weight: 600;
}

.registration__create--link:hover {
	text-decoration: underline;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.6);
}



.error {
    margin-top: 10px;
    font-size: 12px;
	color: rgb(238, 0, 0);
	font-weight: 400;

}

.alert-error {
	padding: 15px 0; 
    margin-top: 10px;
    font-size: 12px;
    color: red;
}

.agree-submit__container {
	display: flex;
	justify-content: space-between;
	padding: 14px 0;
}

.agree-submit__checkbox {
	border-color: #000;
}

.agree-submit__checkbox:hover {
	cursor: pointer;
}

.agree-submit__item {
	margin-left: 20px;
	margin-top: 1px;
	color: rgb(75, 75, 75);
	font-size: 12px;
	max-width: 300px;
}

.agree-submit__item--link {
	font-weight: 600;
	transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.agree-submit__item--link:hover {
	text-decoration: underline;
	color: rgba(14, 14, 14, 0.6);
	cursor: pointer;

}

.agree-submit__button {
	color: #FFF;
	padding: 15px;
	font-size: 18px;
	width: 250px;
	background-color: #000;
	border: none;
	border-radius: 100px;
	margin-top: 10px;
	outline: none;
	transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.agree-submit__button:hover {
	cursor: pointer;
}

.errorCheckbox {
	margin-top: 2px;
	margin-left: 5px;
	color: rgb(238, 0, 0);
	font-size: 12px;
	font-weight: 600;

}

.registration__create {
	padding-top: 15px;
}