.profile-wrapper {
  padding-top: 20px;
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.profile__user__cover {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-position: center;

  &:hover .profile__cover--update {
    opacity: 1;
  }
}

.profile__cover {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-image: url('/assets/img/main.png');
  background-position: center;
  
  &:hover .profile__cover--update {
    opacity: 1;
  }
}

.update-cover {
  display: none;
}

.profile__cover--update {
  position: absolute;
  margin-top: 25px;
  margin-left: 50px;
  padding: 10px 23px;
  font-size: 12px;
  font-weight: 600;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  border-radius: 50px;
  opacity: 0;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  &:hover {
    background-color: #000;
    cursor: pointer;
  }
}

.profile__cover--settings {
  margin-top: 80px;
  height: 33px;
  padding: 10px 23px;
  font-size: 12px;
  right: 50px;
  font-weight: 600;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  border-radius: 50px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  &:hover {
    background-color: #000;
    cursor: pointer;
  }
}

.profile__cover--profile-info {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 115px;
  // position: relative;
}

.profile-info__container {
  display: flex;
  position: absolute;
} 

.profile-info__avatar {
  width: 175px;
  height: 175px;
  overflow: hidden;
  background-color: #CCC;
  border-radius: 50%;
  &:hover .update-label {
    opacity: 1;
    cursor: pointer;
  }
}

.profile-avatar {
  width: 100%;
  height: 100%;
  
}

.profile-info__avatar--update {
  display: none;
}

.update-label {
  opacity: 0;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
}

.avatar-update {
  fill: #FFF;
  position: absolute;
  margin-top: 10px;
  margin-left: 55px;
  width: 65px;
  height: auto;
}

.profile-info__user {
  margin-top: 52px;
  margin-left: 30px;
  color: #FFF;
}

.profile-info__user--username {
  font-size: 26px;
}

.profile-info__user--full-name {
  margin-top: 5px;
  display: flex;
  font-size: 16px;
}

.full-name__name {
  margin-right: 10px;
}

.profile__cover--canvas {
  width: 100%;
  height: 100%;
}

.profile__navigation-container {
  position: absolute;
  margin-top: 20px;
  margin-left: 220px;
}

.profile__navigation {
  list-style: none;
}

.profile__navigation--list {
  display: inline;
  margin-right: 70px;
}

.profile__navigation--link {
  font-size: 12px;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.border--margin {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.friends {
  text-align: center;
  width: 440px;
  height: 490px;
  border: solid 1px #CCC; 
  background-color: #FFF;
}

.content--friends {
  padding: 30px;
  text-align: center;
}

.block--heading {
  background-color: #000;
}

.block--headline {
  padding: 20px 0;
  font-size: 16px;
  text-align: center;
  color: #FFF;
}

.block--content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;
  padding-bottom: 15px;
}

.block__friendS--info {
  display: flex;
  margin-bottom: 15px;
  text-decoration: none;
  color: #000;
}

.avatar--border {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #FFF;
  border-radius: 50%;
  border: solid 1px #000;
}

.block__friends--avatar {
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
}

.block__friends--username {
  font-size: 14px;
  padding: 16px;
  font-weight: 600;
  text-decoration: none;
}

.block--link {
  margin-top: 15px;
  color: #888;
  text-decoration: none;
  font-size: 14px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;

  &:hover {
    color: #666;
    text-decoration: underline;
    cursor: pointer;
  }
}


.blogs {
  width: 700px;
}

.blogs--add {
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  outline: none;
  border: none;
  width: 100%;
  background-color: #000;
  color: #FFF;
  padding: 20px;
  font-weight: 700;
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;
  }
}

.add--panel {
  display: none;
}

.show--panel {
  display: flex;
  flex-direction: column-reverse;
}

