<router-outlet></router-outlet>
<div *ngFor='let user of user$' class="profile-wrapper">
    <div class="profile__cover" [ngStyle]="user.cover !== null && { 'background-image': 'url(' + user.cover + ')' }">
        <input class="update-cover" type="file" accept="image/*" #coverInput (change)="onFileSelectedd($event)">
        <button class="profile__cover--update" *ngIf="id === user.id" (click)="coverInput.click()">Оновити фонове зображення</button>
        <div class="profile__cover--profile-info">
            <div class="profile-info__container">                  
                <div class="profile-info__avatar">
                    <input class="profile-info__avatar--update" id="update-avatar" type="file" #avatarInput accept="image/*" (change)="onFileSelected($event)">
                    <label class="update-label" for="update-avatar">
                        <svg class="avatar-update" *ngIf="id === user.id">
                            <use xlink:href="assets/sprite/sprite-sheet.svg#cover-photo"></use>
                        </svg>  
                    </label>
                    <img class="profile-avatar" src="{{user.avatar}}" alt="">
                    <canvas class="profile-avatar" #avatarPreview></canvas>
                </div>
                <div class="profile-info__user">
                    <h2 class="profile-info__user--username">{{user.username}}</h2>
                    <div class="profile-info__user--full-name">
                        <p class="full-name__name">{{user.firstName}}</p>
                        <p class="full-name__surname">{{user.lastName}}</p>
                    </div>
                </div>
            </div>
            <div></div>
            <div>
                <button class="profile__cover--settings" *ngIf="id === user.id" type="button" routerLink="/account/settings">Налаштування</button>
                <div *ngIf="id !== user.id">
                    <button class="profile__cover--settings" (click)="follow()" *ngIf="user.followed === false" type="button">Пiдписатися</button>
                    <button class="profile__cover--settings" (click)="unfollow()" *ngIf="user.followed === true" type="button">Вiдписатися</button>
                </div>
            </div>
        </div>
        <canvas class="profile__cover--canvas" #canvasPreview></canvas>
    </div>
    <div class="profile__navigation-container">
        <ul class="profile__navigation">
            <li class="profile__navigation--list"><a class="profile__navigation--link">Blogs ()</a></li>
            <li class="profile__navigation--list"><a class="profile__navigation--link">Friends ()</a></li>
            <li class="profile__navigation--list"><a class="profile__navigation--link">Events ()</a></li>
        </ul>
    </div>
    <div class="border--margin">
        <div>
            <div class="friends">
                <div class="block--heading">
                    <h2 class="block--headline">Пiдписники</h2>
                </div>
                <div class="content--friends">
                    <app-followers class="follow--flex"></app-followers>
                    <a class="block--link">Пабачити всix пiдписникiв</a>
                </div>
                
            </div>
            <div class="friends following-top">
                <div class="block--heading">
                    <h2 class="block--headline">Пiдписки</h2>
                </div>
                <div class="content--friends">
                    <app-following class="follow--flex"></app-following>
                    <a class="block--link">Пабачити всi пiдписки</a>
                </div>
                
            </div>
        </div>
        <div class="blogs">
            <button class="blogs--add" type="button" (click)="showAdd()"><span *ngIf="show === 0">Додати запис</span><span *ngIf="show === 1">Приховати</span></button>
            <!-- <app-blogs class="add--panel" id="addBlog" *ngIf="id === user.id"></app-blogs> -->
            <app-blogs class="add--panel" id="addBlog"></app-blogs>
            <app-blogs-show class="show--panel"></app-blogs-show>
        </div>
        
    </div>
    
</div>
