*, *:after, *:before {
  margin: 0;
  padding: 0;
}

.head {
  background-image: url('/assets/img/main.png');
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
}

.width {
  width: 1170px;
  margin: 0 auto;
}

.banner__h1 {
  padding-top: 200px;
  font-size: 75px;
  font-weight: 700;
  color: #FFF;
}

.banner__p {
  padding-top: 45px;
  font-size: 14px;
  color: #FFF;
  line-height: 1.6;
  font-weight: 400;
}

.banner__buttons {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  width: 475px;
}

.banner__butons--item {
  padding: 18px 58px;
  border-radius: 35px;
  background: none;
  color: #FFF;
  border: 1px solid #FFF;
  outline: none;
  transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.banner__butons--item:hover {
  background-color: rgba(0, 0, 0, 0.25);;
}

.banner__butons--itemm {
  padding: 18px 58px;
  border-radius: 35px;
  background: none;
  color: #000;
  background-color: #FFF;
  outline: none;
  transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.banner__butons--itemm:hover {
  background: rgba(225, 225, 225, 0.9);

}


// Last Events

.last-event {
  background-color: #FFF;
}
