<!-- Home page header -->

<div class="banner">
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <a><img class="logo__img" src="assets/img/logo.png"></a>
        </div>
        <div class="col-lg-10">
          <nav class="navigation">
            <a class="navigation__link">
              Головна
            </a>
            <a class="navigation__link" mat-raised-button (click)="openModalLog()">
              Про проект
            </a>
            <a class="navigation__link" mat-raised-button (click)="openModalLog()">
              Журнал мандрівника
            </a>
            <a class="navigation__link" mat-raised-button (click)="openModalLog()">
              Байк пости
            </a>
            <a class="navigation__link" mat-raised-button (click)="openModalLog()">
              Уввійти
            </a>
            <a class="navigation__link navigation--gold" (click)="openModal('custom-modal-2')">
              Зареєструватися
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>


  <div class="container">
    <h1 class="banner__h1">
      Ти підтримуєш зараза Українські літери?
    </h1>
    <p class="banner__p">
      Так звісно підтримую, тут має бути супер слоган %)
    </p>

    <div class="banner__buttons">
      <button class="banner__butons--item" mat-raised-button (click)="openModalLog()">Уввійти</button>
      <button class="banner__butons--itemm" (click)="openModal('custom-modal-2')">Створити акаунт</button>
    </div>
  </div>

</div>

<!-- Last Events -->

<section class="last">
  <div class="container">
    <div class="row">
      <div class="col-lg" *ngFor="let event of events$">
        <figure class="last-event">
          <ng-template [ngIf]="event.type === 1">
            <img class="last-event__img" src="assets/img/data/enduro.jpg" alt="" title="{{ event.title }}">
          </ng-template>
          <ng-template [ngIf]="event.type === 3">
            <img class="last-event__img" src="assets/img/data/touristic.jpg" alt="" title="{{ event.title }}">
          </ng-template>
          <ng-template [ngIf]="event.type === 4">
            <img class="last-event__img" src="assets/img/data/chopper.jpg" alt="" title="{{ event.title }}">
          </ng-template>
          <figcaption class="last-event__heading">
            {{ event.title }}
          </figcaption>
          <p class="last-event__type">
            Type:
            <ng-template [ngIf]="event.type === 1">Enduro</ng-template>
            <ng-template [ngIf]="event.type === 2">Sport</ng-template>
            <ng-template [ngIf]="event.type === 3">Touristic</ng-template>
            <ng-template [ngIf]="event.type === 4">Chooper</ng-template>
          </p>
          <p class="last-event__start">
            Date: {{ event.date }}
          </p>
          <p class="last-event__time">
            Days: {{ event.days }}
          </p>
        </figure>
      </div>
    </div>
  </div>
</section>
