<div class="banner">
  <h1 class="banner__h1">
    Ready to begin
  </h1>
  <h2 class="banner__h2">
    Some little trigger will be here)
  </h2>
</div>

<!-- Last Events -->

<section class="last">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <figure class="last-event">
          <img src="assets/img/data/enduro.jpg" alt="" class="last-event__img">
          <figcaption class="last-event__heading">
            Crazy Enduro Shit
          </figcaption>
          <p class="last-event__type">
            Type: Enduro
          </p>
          <p class="last-event__start">
            Date: 20.12.2019
          </p>
          <p class="last-event__time">
            Days: 20
          </p>
        </figure>
      </div>
      <div class="col-lg">
        <figure class="last-event">
          <img src="assets/img/data/enduro.jpg" alt="" class="last-event__img">
          <figcaption class="last-event__heading">
            Crazy Enduro Shit
          </figcaption>
          <p class="last-event__type">
            Type: Enduro
          </p>
          <p class="last-event__start">
            Date: 20.12.2019
          </p>
          <p class="last-event__time">
            Days: 20
          </p>
        </figure>
      </div>
      <div class="col-lg">
        <figure class="last-event">
          <img src="assets/img/data/enduro.jpg" alt="" class="last-event__img">
          <figcaption class="last-event__heading">
            Crazy Enduro Shit
          </figcaption>
          <p class="last-event__type">
            Type: Enduro
          </p>
          <p class="last-event__start">
            Date: 20.12.2019
          </p>
          <p class="last-event__time">
            Days: 20
          </p>
        </figure>
      </div>
      <div class="col-lg">
        <figure class="last-event">
          <img src="assets/img/data/enduro.jpg" alt="" class="last-event__img">
          <figcaption class="last-event__heading">
            Crazy Enduro Shit
          </figcaption>
          <p class="last-event__type">
            Type: Enduro
          </p>
          <p class="last-event__start">
            Date: 20.12.2019
          </p>
          <p class="last-event__time">
            Days: 20
          </p>
        </figure>
      </div>
      <div class="col-lg">
        <figure class="last-event">
          <img src="assets/img/data/enduro.jpg" alt="" class="last-event__img">
          <figcaption class="last-event__heading">
            Crazy Enduro Shit
          </figcaption>
          <p class="last-event__type">
            Type: Enduro
          </p>
          <p class="last-event__start">
            Date: 20.12.2019
          </p>
          <p class="last-event__time">
            Days: 20
          </p>
        </figure>
      </div>
    </div>
  </div>
</section>
