<!-- Account header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a class="logo" href="#">
          <img class="logo__img" src="assets/img/logo.png">
        </a>
      </div>
      <div class="col-lg-9">
        <nav class="navigation">
          <ul class="navigation__item">
            <!-- <svg class="icon">
                  <use xlink:href="sprite/sprite-sheet.svg#sign-in"></use>
                </svg> -->

            <li class="navigation__list">
              <a class="nav-item nav-link" routerLinkActive="link--active" routerLink="/account/board">События</a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
