<div class="progile--right-wrapper">
  	<form class="profile-bologs" [formGroup]="blogsCreateForm" (ngSubmit)="onSubmit()">
    	<input type="text" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
    	<div *ngIf="submitted && f.title.errors" class="invalid-feedback">
      		<div class="error" *ngIf="f.title.errors.required">Enter title of your post</div>
      		<div class="error" *ngIf="f.title.errors.maxlength">Title must be no more than 25 characters</div>
    	</div>
		<input type="text" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
		<div *ngIf="submitted && f.description.errors" class="invalid-feedback">
			<div class="error" *ngIf="f.description.errors.required">Enter description of your post</div>
			<div class="error" *ngIf="f.description.errors.minlength">Description must be no more than 5 characters</div>
			<div class="error" *ngIf="f.description.errors.maxlength">Description must be no more than 255 characters</div>
	  	</div>
    	<button>Create</button>
  	</form>
</div>