<div class="progile--right-wrapper">
  	<form class="profile-bologs" [formGroup]="blogsCreateForm" (ngSubmit)="onSubmit()">
		<div class="title--group">
			<input class="blog--input" type="text" placeholder="Введiть заголовк" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
    		<div *ngIf="submitted && f.title.errors" class="invalid-feedback">
      			<div class="error" *ngIf="f.title.errors.required">Введiть заголовок до вашого запису</div>
      			<div class="error" *ngIf="f.title.errors.maxlength">Заголовок повынен бути не бiльше 128-мы символiв</div>
    		</div>
		</div>
		<div class="description--input">
			<textarea class="blog-textarea" id="textarea" (keyup)="autogrow()" type="text" placeholder="Введiть запис" rows="3" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
				<div *ngIf="submitted && f.description.errors" class="invalid-feedback">
					<div class="error" *ngIf="f.description.errors.required">Введiть запис</div>
					<div class="error" *ngIf="f.description.errors.minlength">Запис повинен бути не менше 5-ти символiв</div>
					<div class="error" *ngIf="f.description.errors.maxlength">Запис повынен бути не бiльше 1000-чi символiв</div>
				</div>
		</div>
		<div class="img--input">
			<img [src]="imgUrl" height="100%" width="auto" *ngIf="imgUrl !== null">
			<div class="under-image">
				<button class="delete-img" *ngIf="imgUrl !== null" (click)="deleteImg()"> Выдалити фото</button>
				<label for="picture">
					<span class="upload-picture">Завантажити фото</span>
					<span class="upload-picture__span"></span>
				</label>
				<input style="display:none" id="picture" type="file" accept="image/*" (change)="onPictureSelected($event)">
			</div>
		</div>
		<div class="btn--box">
			<button class="blog--reset" type="button" (click)="resetForm()">Очистити</button>
			<button class="blog--btn">Додати</button>
		</div>
  	</form>
</div>