/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,.2);
}

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 35px !important;
}

body {
  width: 100%;
  background-image: url('assets/img/background.jpg');
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0 !important;
}

/* --- Navigation --- */

.header {
  position: absolute;
  margin-left: 50%;
  left: -685px;
  
  // background-color: #000;
  // max-height: 65px;
}

.headd {
  width: 1370px;
  display: flex;
  justify-content: space-between;
}

.logo__img {
  max-width: 170px;
  padding: 13px 0 0;
}

.navigation__item {
  list-style: none;
  margin-top: 23px;
  text-align: right;
}

.navigation__list {
  display: inline-block;
}

.navigation__link {
  color: #FFF;
}

.navigation__link:hover {
  cursor: pointer;
}


// .navigation__item--link {
// 	margin-left: 50px;
// 	font-size: 14px;
// 	text-decoration: none;
// 	color: #FFF;
// 	fill: #FFF;
// }

// .icon {
// 	margin-right: 5px;
// 	height: 16px;
// 	width: 18px;
// }

// .navigation__item--link:hover {
// 	color: #CCC;
// 	fill: #CCC;
// }


modal {
  display: none;

  .modal {
      position: fixed;
      padding-top: 50%;
      padding-left: 50%;
      left: - 585px;
      top: -615px;
      z-index: 1000;
  }

  .modal-background {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.90;
      z-index: 900;
  }
}

body.modal-open {
  overflow: hidden;

}
