<!-- Account header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <img class="logo__img" src="assets/img/logo.png">
      </div>
      <div class="col-lg-9">
        <nav class="navigation">
          <ul class="navigation__item">
            <li class="navigation__list"><a class="navigation__link" mat-raised-button (click)="openModalLog()">Sign in</a></li>
            <li class="navigation__list"><a class="navigation__link" (click)="openModal('custom-modal-2')">Sign up</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<modal id="custom-modal-2">
    <div class="modal">
        <div class="modal-body">
            <register></register>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>

<router-outlet></router-outlet>
